@model List<ProductViewModel>

@{
    ViewData["Title"] = "Search";
}

<h1 class="text-center">Search</h1>

<form asp-controller="Search" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="SearchString" />
        <input class="btn btn-dark" type="submit" value="Search" />
    </p>
</form>

<div>
    <table style="width:100%" class="text-center">
        <tr>
            <td style="width:10%">Id</td>
            <td style="width:10%">Name</td>
            <td style="width:10%">Producer</td>
            <td style="width:10%">Description</td>
            <td style="width:10%">Subcategory</td>
            <td style="width:10%">Producer</td>
            <td style="width:10%">Price</td>
            <td style="width:10%">Quantity</td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
        </tr>
        @foreach (var product in Model)
        {
            <tr class="border-bottom">
                <td style="width:10%">@product.Id</td>
                <td style="width:10%">@product.Name</td>
                <td style="width:10%">@product.Producer</td>
                <td style="width:10%">@product.Description</td>
                <td style="width:10%">@product.Category</td>
                <td style="width:10%">@product.Subcategory</td>
                <td style="width:10%">@product.Price</td>
                <td style="width:10%">@product.Quantity</td>
                <td style="width:10%"><a class="btn btn-danger mt-1 mb-1" asp-controller="ProductTable" asp-action="Delete" asp-route-id="@product.Id">Delete</a></td>
                <td style="width:10%"><a class="btn btn-warning mt-1 mb-1" asp-controller="ProductTable" asp-action="Update" asp-route-id="@product.Id">Update</a></td>
            </tr>
        }
    </table>
</div>