@model List<ActiveOrderView>
@{
    ViewData["Title"] = "Active Orders";
}

<h1 class="text-center">Active Orders</h1>

<div>
    <div>
        <table style="width:100%" class="text-center">
            <tr>
                <td style="width:14%">User Id</td>
                <td style="width:14%">First Name</td>
                <td style="width:14%">Last Name</td>
                <td style="width:14%">Middle Name</td>
                <td style="width:14%">Order Date</td>
                <td style="width:14%">Ship Date</td>
                <td style="width:14%">Adress</td>
            </tr>
            @foreach (var activeOrder in Model)
            {
                <tr class="border-bottom">
                    <td style="width:14%">@activeOrder.UserId</td>
                    <td style="width:14%">@activeOrder.FirstName</td>
                    <td style="width:14%">@activeOrder.LastName</td>
                    <td style="width:14%">@activeOrder.MiddleName</td>
                    <td style="width:14%">@activeOrder.OrderDate.ToShortDateString()</td>
                    <td style="width:14%">@activeOrder.ShipDate.ToShortDateString()</td>
                    <td style="width:14%">@activeOrder.Adress</td>
                </tr>
            }
        </table>
    </div>
</div>