@model DifferenceModel

@if (Model.Produts.Count != 0)
{
    <div>
        <table style="width:100%" class="text-center">
            <tr>
                <td style="width:11%">Id</td>
                <td style="width:11%">Name</td>
                <td style="width:11%">Description</td>
                <td style="width:11%">SubcategoryId</td>
                <td style="width:11%">ProducerId</td>
                <td style="width:11%">Price</td>
                <td style="width:11%">Quantity</td>
                <td style="width:11%"></td>
                <td style="width:11%"></td>
            </tr>
            @foreach (var product in Model.Produts)
            {
                <tr class="border-bottom">
                    <td style="width:11%">@product.Id</td>
                    <td style="width:11%">@product.Name</td>
                    <td style="width:11%">@product.Description</td>
                    <td style="width:11%">@product.SubcategoryId</td>
                    <td style="width:11%">@product.ProducerId</td>
                    <td style="width:11%">@product.Price</td>
                    <td style="width:11%">@product.Quantity</td>
                    <td style="width:11%"><a class="btn btn-danger mt-1 mb-1" asp-controller="ProductTable" asp-action="Delete" asp-route-id="@product.Id">Delete</a></td>
                    <td style="width:11%"><a class="btn btn-warning mt-1 mb-1" asp-controller="ProductTable" asp-action="Update" asp-route-id="@product.Id">Update</a></td>

                </tr>
            }
        </table>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Differences))
{
    <h3 class="mt-2">Differences in : @Model.Differences</h3>
}